* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body, html{
    min-height: 100%;
}

#loading{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
}

#loading img {
    height: 100px;
}

h1,
h2,
h3,
h4,
.navbar-brand,
.btn-group a {
    font-family: 'Arimo', sans-serif;
}

.panel-body {
    padding-top: 5%;
    padding-bottom: 5%;
}

#temp {
    font-size: 24px;
}


/* ====================
    UNIT TOGGLE STYLES
   ====================*/

#unitToggle {
    float: right;
}

#unitRow {
    padding-right: 0;
}


/* =============
    PANEL STYLES
   =============*/

.panel {
    max-width: 720px;
    margin: 0 auto;
    margin-top: 5%;
    font-size: 11px;
}


/* ============ 
    ICON STYLES
   ============*/

#weatherImg {
    display: inline-block;
    width: 110px;
    height: 110px
}

#windSpan {
    height: 110px;
    width: 110px;
    display: inline-flex;
    display: -webkit-inline-flex;
    justify-content: center;
    align-items: center;
}

#windDir {
    color: #985e6d;
    font-size: 80px;
}

/* ==============
    MEDIA QUERIES
    ============== */

@media (min-width: 375px){

}

/*@media (min-width: 768px) {
    .navbar-right {
        width: 60%;
        text-align: center;
    }
    #primaryInfo,
    #secondaryInfo {
        display: flex;
        flex-direction: column;
        height: 150px;
        width: 150px;
        float: right;
        font-size: 19px;
        justify-content: center;
    }
    #infoRow {
        margin-top: 20px;
    }
    .panel {
        margin-top: 5%;
    }
}

@media (min-width: 375px) {
    #weatherImg,
    #windSpan {
        width: 150px;
        height: 150px;
    }
    #windDir {
        font-size: 100px;
    }
    .panel {
        font-size: 14px;
    }
    #temp {
        font-size: 32px;
    }
}

@media (max-width: 767px) {
    #locationName {
        font-size: 26px;
    }*/
/*}*/