/*=========
    GENERAL
  ==========*/

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
 
body,
html {
    min-height: 100%;
}

h1,
h2,
h3,
h4,
.navbar-brand,
.btn-group a {
    font-family: 'Arimo', sans-serif;
}


/* ========
    FOOTER
   ========*/

.footer {
    position: absolute;
    text-align: center;
    width: 100%;
    display: block;
    height: 20px;
    bottom: 0;
    font-size: .75em;
    padding: 0;
}


/* =========
    LOADING
   =========*/

#loading {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
}

#loading img {
    height: 100px;
}

/* =======
    BRAND
   =======*/

.navbar-brand {
    font-weight: 700;
    font-size: 1.5em;
    letter-spacing: .1em;
}


/* ====================
    UNIT TOGGLE STYLES
   ====================*/

#unitToggle {
    float: right;
}

#unitRow {
    padding-right: 0;
}


/* =============
    PANEL STYLES
   =============*/

#locationName {
    font-size: 2em;
}

.panel {
    max-width: 768px;
    margin: 0 auto;
    margin-top: 5%;
    -webkit-box-shadow: 8px 8px 10px -1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 8px 8px 10px -1px rgba(0, 0, 0, 0.1);
    box-shadow: 8px 8px 10px -1px rgba(0, 0, 0, 0.1);
}

.panel-body {
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: .85em;
}

/* =============
    INFO STYLES
   =============
*/

#temp {
    font-size: 2.5em;
}

#primaryInfo,
#secondaryInfo,
#weatherCol,
#windCol {
    padding: 0;
}

#weatherCol,
#windCol {
    text-align: center;
}

#primaryInfo,
#secondaryInfo {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ============ 
    ICON STYLES
   ============*/

#weatherImg {
    display: inline-block;
    width: 8em;
    height: 8em;
}

#windSpan {
    height: 8em;
    width: 8em;
    display: inline-flex;
    display: -webkit-inline-flex;
    justify-content: center;
    align-items: center;
}

#windDir {
    color: #985e6d;
    font-size: 5em;
}


/* ==============
    MEDIA QUERIES
    ============== */

@media (min-width: 375px) {
    #locationName {
        font-size: 2em;
    }
    .panel-body {
        font-size: 1.1em;
    }
    #unitRow {
        margin-bottom: 2.5%;
    }
}

@media (min-width: 450px) {
    #locationName {
        font-size: 2.3em;
    }
    .panel-body {
        font-size: 1.4em;
    }
}

@media (min-width: 768px) {
    #primaryCol,
    #secondaryCol {
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .panel {
        margin-top: 7.5%;
    }
    .panel-body {
        font-size: 1.3em;
    }
    .footer {
        font-size: 1em;
    }
}

@media (min-width: 1200px) {
    .panel {
        max-width: 900px;
    }
    .panel-body {
        font-size: 1.6em;
    }
}